@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8" style="background-color: red; height: 100px; margin: 5px">
        Hello Customer
    </div>
    
    <div class="col-md-4" style="background-color: blueviolet; height: 100px; margin: 5px">
        Items
    </div>
</div>