@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h2>Welcome to the Secondhand Trade Platform</h2>
    </div>
    
    <div class="col-md-8">
        You can sell your old items here, and buy items from other people.
    </div>
</div>