@{
    ViewBag.Title = "Items";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@foreach (Item item in Model)
{
    <div class="row">
    <a>
        @Html.ActionLink("Home", "Index", "Home")
        <div class="col-md-4">
            <p>
                <img src="https://wanderlustandsmoke.files.wordpress.com/2017/08/filipino-tabo-hinoki-plastic-ladle-1.jpg?w=286&h=212"/>
            </p>
            <h2>Tabo 1</h2>
            <p>10.00$</p>
        </div>
    </a>

        <a href="Detail.cshtml">
            <div class="col-md-4">
                <p>
                    <img src="https://wanderlustandsmoke.files.wordpress.com/2017/08/filipino-tabo-hinoki-plastic-ladle-1.jpg?w=286&h=212"/>
                </p>
                <h2>Tabo 2</h2>
                <p>10.00$</p>
            </div>
        </a>

        <a href="Detail.cshtml">
            <div class="col-md-4">
                <p>
                    <img src="https://wanderlustandsmoke.files.wordpress.com/2017/08/filipino-tabo-hinoki-plastic-ladle-1.jpg?w=286&h=212"/>
                </p>
                <h2>Tabo 3</h2>
                <p>10.00$</p>
            </div>
        </a>
</div>
}
