@using Secondhand.Domain.Model
@model Item

<a>
    <div class="col-md-12">
        <h2>@Model.ItemName</h2>
        <p>
            <img src="" class="itemImage"/>
        </p>
        <h5>Description</h5>
        <p>Description</p>

        <h5>Year</h5>
        <p>Year</p>

        <h5>Price</h5>
        <p>Price$</p>

        <h5>Seller</h5>
        <p>UserId</p>
        <button>
            Buy Item
        </button>
    </div>
</a>
