@using Secondhand.Domain.Model
@model IEnumerable<Item>

<a>
    <div class="col-md-12">
        <h2>Tabo 1</h2>
        <p>
            <img src="https://wanderlustandsmoke.files.wordpress.com/2017/08/filipino-tabo-hinoki-plastic-ladle-1.jpg?w=286&h=212" />
        </p>
        <p>Description</p>
        <p>Year</p>
        <p>10.00$</p>
        <p>Seller</p>
        <button>
            Buy Item
        </button>
    </div>
</a>