@using Secondhand.Domain.Model
@model IEnumerable<Item>

@foreach (Item item in Model)
{
    @Html.AntiForgeryToken()
    <a>
        <div class="col-md-4 containerItems">
            @{
                String img64 = Convert.ToBase64String(item.Image);
                String img64Url = string.Format("data:image;base64,{0}", img64);
            }
            <div class="imageContainer">
                <img src="@img64Url" class="itemImage"/>
            </div>
            <p class="description">@item.ItemName</p>
            <p class="description">$@item.Price</p>
            <button type="button" class="btn btn-light">
                @Html.ActionLink("Details", "Detail", "Item", new { id = item.Id}, null)
            </button>
        </div>
    </a>
}
