@using Secondhand.Domain.Model
@model IEnumerable<Item>

@{
    ViewBag.Title = "Items";
}

@foreach (Item item in Model)
{
    <a>
        <div class="col-md-4">
            @Html.ActionLink("Details", "Detail", "Item")
            <p>
                <img src="https://wanderlustandsmoke.files.wordpress.com/2017/08/filipino-tabo-hinoki-plastic-ladle-1.jpg?w=286&h=212" />
            </p>
            <h2>@item.ItemName</h2>
            <p>@item.Price</p>
        </div>
    </a>   
}
